In [1]:
print("Hello World")

Hello World

# Testing
## This is a tester
for reference, please read https://wesmckinney.com/book/numpy-basics.html. The writer made such a good explanation on everything that you need to know as a preparation to become a good data scientist.

In [2]:
print("Hello World")

Hello World

Hello there

In [22]:
seq = [1,2,4,5,4,6,7,8]
seq[1:4]

[2, 4, 5]

In [2]:
seq[:4]

[1, 2, 4, 5]

In [10]:
seq.sort()
seq

[1, 2, 4, 4, 5, 6, 7, 8]

In [23]:
;,oList = [1,1,1,2,2,2,3]
for elem in oList:.
    seq.append(elem)
seq

[1, 2, 4, 5, 4, 6, 7, 8, 1, 1, 1, 2, 2, 2, 3]

In [40]:
oDict = {}
for key, val in zip(range(5),range(5,0,-1)):
    oDict[key] = val
oDict

{0: 5, 1: 4, 2: 3, 3: 2, 4: 1}

In [43]:
oSeta = {1,1,1,1,2,2,2,2,2,3,3,3}
oSetb = {3,3,3,3,3,4,4,5,6,6,6,7}

In [51]:
oSeta.add(5)
oSeta

{1, 2, 3, 5}

## Writing a function 
### testing to write a function in jupyter notebook

In [1]:
def oSum(x,y):
    return x + y

In [2]:
oSum(3,4)

7

In [3]:
def oMult3num(a,b,c,d,e,f):
    return a*b, c*d, e*f

In [4]:
oMult3num(1,2,3,4,5,6)

(2, 12, 30)

In [8]:
ans = oMult3num(1,2,3,4,5,6)
type(ans)

tuple

## Built in function that is frequently used in data science

### 1. enumerate
#### enumerate will return a tuple of (i, value)

In [8]:
oList = [1,2,3,4,5,6,7]
oIndex = 0
newList = []
for oVal in oList:
    newList.append(oVal + 1)
    oIndex += 1
print(newList, oIndex)

[2, 3, 4, 5, 6, 7, 8] 7

#### instead of doing as above, we can use enumerate function as below

In [9]:
oList = [1,2,3,4,5,6,7]
newList = []
for oIndex, oVal in enumerate(oList):
    newList.append(oVal + 1)
    
print(newList, oIndex)

[2, 3, 4, 5, 6, 7, 8] 6

### 2. sorted
#### If we have a list, this function will sort the value of the list

In [11]:
oList = [6,4,7,2,7,2,5,0,4,6]
sorted(oList)

[0, 2, 2, 4, 4, 5, 6, 6, 7, 7]

### 3. zip
#### “pairs” up the elements of a number of lists, tuples, or other sequences to create a list of tuples

In [20]:
oList = sorted(oList)
oSeq = list(range(1,11))
oPair = zip(oSeq, oList)
list(oPair)

[(1, 0),
 (2, 2),
 (3, 2),
 (4, 4),
 (5, 4),
 (6, 5),
 (7, 6),
 (8, 6),
 (9, 7),
 (10, 7)]

## A taste of functional programming vs. object-oriented programming
### This is just an example from what I understand the difference between these 2 ways of writing a program

### Functional Programming

In [25]:
import re
def remove_punctuation(value):
    return re.sub("[!#?]", "", value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for func in ops:
            value = func(value)
        result.append(value)
    return result

In [26]:
states = ["   Alabama ", "Georgia!", "Georgia", "georgia", "FlOrIda", "south   carolina##", "West virginia?"]
clean_strings(states,clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

### Lambda function

In [27]:
def test_func(some_list, f):
    return [f(x) for x in some_list]

test_func(oList, lambda x: x**2)

[0, 4, 4, 16, 16, 25, 36, 36, 49, 49]

## To open & write file using the built in function

In [35]:
path = "C:/Users/farea/Desktop/test.txt"
oFile = open(path, encoding = "utf-8")

In [36]:
oLine = [x.rstrip() for x in oFile]
oLine

['testing2 one to three',
 'hi there,',
 '',
 'just testing how to open a txt file,',
 'here,',
 'wish me luck',
 'gg']

it is best to close back the file that you just opened to reduce the running storage

In [37]:
oFile.close()

# Using NumPy
we'll use NumPy because the array develop in NumPy can perform faster calculation compare to the usual list in Python. i.e, if use list need to use loop to do calculation on each of the list's element. But using ndarray, the computation will be done to all elements at once.

In [42]:
import numpy as np

In [43]:
oRng = np.arange(1,20)
oRng

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19])