In [8]:
import numpy as np
import pandas as pd

class Yeet:
    def __init__(self, data):
        self.data = data
    
    def oSum(self):
        return self.data.describe()

In [9]:
df = pd.DataFrame([1,2,3])
obj = Yeet(df)
obj.oSum()

         0
count  3.0
mean   2.0
std    1.0
min    1.0
25%    1.5
50%    2.0
75%    2.5
max    3.0